<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/common/header"></th:block>
    <link th:href="@{/css/diary.css}" rel="stylesheet">
</head>
<body>
<!-- Page Wrapper -->
<div id="wrapper">

    <th:block th:replace="fragments/common/sidebar"></th:block>

    <div id="content">
        <th:block th:replace="fragments/common/topbar"></th:block>

        <div class="container">
            <div id="sidebar"></div>
            <div id="calendar-wrap">
                <header>
                    <!-- 전년으로 -->
                    <a class="cal-btn" th:href="@{/layout/diary/year/${year}-1/month/${month}}">
                        <i class="fas fa-caret-left double-arrow"></i>
                        <i class="fas fa-caret-left double-arrow"></i>
                    </a>
                    <!-- 전달로 -->
                    <button class="cal-btn">
                        <i class="fas fa-caret-left arrow"></i>
                    </button>
                    <span class="month" th:text="|${#calendars.year(date)}년|"></span>
                    <span class="month" th:text="${#calendars.monthName(date)}"></span>
                    <!-- 다음달로 -->
                    <button class="cal-btn">
                        <i class="fas fa-caret-right arrow"></i>
                    </button>
                    <!-- 다음년으로 -->
                    <button class="cal-btn">
                        <i class="fas fa-caret-right double-arrow"></i>
                        <i class="fas fa-caret-right double-arrow"></i>
                    </button>
                </header>
                <div id="calendar">
                    <ul class="weekdays">
                        <li>Sunday</li>
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                    </ul>

                    <!-- weeks 반복 -->
                    <ul class="days" th:each="i: ${#numbers.sequence(0,5)}" th:with="day=1">
                        <!-- 날짜반복  -->
                        <li th:each="j: ${#numbers.sequence(1,7)}" th:with="today=${#calendars.create(year ,month ,day)}">
                            <!-- 이전달  -->
                            <div class="date" th:if="${#calendars.dayOfWeek(today) > j}"
                                 th:text="${#calendars.day(today)}"></div>
                            <!-- 현재달  -->
                            <div class="date" th:with="day=day+1" th:if="${#calendars.dayOfWeek(today) == j}"
                                 th:text="${#calendars.day(today)}"></div>
                            <!-- 다음달  -->
                            <div class="date" th:if="${#calendars.dayOfWeek(today) == j}"
                                 th:text="${#calendars.day(today)}"></div>
                        </li>
                    </ul>
                    <!--

                                        <ul class="days">
                                            <li class="day other-month">
                                                <div class="date">27</div>
                                            </li>
                                            <li class="day other-month">
                                                <div class="date">28</div>
                                                <div class="event">
                                                    <div class="event-desc">
                                                        HTML 5 lecture with Brad Traversy from Eduonix
                                                    </div>
                                                    <div class="event-time">
                                                        1:00pm to 3:00pm
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="day other-month">
                                                <div class="date">29</div>
                                            </li>
                                            <li class="day other-month">
                                                <div class="date">30</div>
                                            </li>
                                            <li class="day other-month">
                                                <div class="date">31</div>
                                            </li>

                                            &lt;!&ndash; Days in current month &ndash;&gt;

                                            <li th:if="${#calendars.dayOfWeek(date) == 2}">
                                                2가 월욜
                                            </li>
                                            <li class="day">
                                                <div class="date" th:text="${#calendars.dayOfWeekName(date)}">1</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">2</div>
                                                <div class="event">
                                                    <div class="event-desc">
                                                        Career development @ Community College room #402
                                                    </div>
                                                    <div class="event-time">
                                                        2:00pm to 5:00pm
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        &lt;!&ndash; Row #2 &ndash;&gt;

                                        <ul class="days">
                                            <li class="day">
                                                <div class="date">3</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">4</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">5</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">6</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">7</div>
                                                <div class="event">
                                                    <div class="event-desc">
                                                        Group Project meetup
                                                    </div>
                                                    <div class="event-time">
                                                        6:00pm to 8:30pm
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="day">
                                                <div class="date">8</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">9</div>
                                            </li>
                                        </ul>

                                        &lt;!&ndash; Row #3 &ndash;&gt;

                                        <ul class="days">
                                            <li class="day">
                                                <div class="date">10</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">11</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">12</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">13</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">14</div><div class="event">
                                                <div class="event-desc">
                                                    Board Meeting
                                                </div>
                                                <div class="event-time">
                                                    1:00pm to 3:00pm
                                                </div>
                                            </div>
                                            </li>
                                            <li class="day">
                                                <div class="date">15</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">16</div>
                                            </li>
                                        </ul>

                                        &lt;!&ndash; Row #4 &ndash;&gt;

                                        <ul class="days">
                                            <li class="day">
                                                <div class="date">17</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">18</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">19</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">20</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">21</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">22</div>
                                                <div class="event">
                                                    <div class="event-desc">
                                                        Conference call
                                                    </div>
                                                    <div class="event-time">
                                                        9:00am to 12:00pm
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="day">
                                                <div class="date">23</div>
                                            </li>
                                        </ul>

                                        &lt;!&ndash; Row #5 &ndash;&gt;

                                        <ul class="days">
                                            <li class="day">
                                                <div class="date">24</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">25</div>
                                                <div class="event">
                                                    <div class="event-desc">
                                                        Conference Call
                                                    </div>
                                                    <div class="event-time">
                                                        1:00pm to 3:00pm
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="day">
                                                <div class="date">26</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">27</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">28</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">29</div>
                                            </li>
                                            <li class="day">
                                                <div class="date">30</div>
                                            </li>
                                        </ul>

                                        &lt;!&ndash; Row #6 &ndash;&gt;

                                        <ul class="days">
                                            <li class="day">
                                                <div class="date">31</div>
                                            </li>
                                            <li class="day other-month">
                                                <div class="date">1</div> &lt;!&ndash; Next Month &ndash;&gt;
                                            </li>
                                            <li class="day other-month">
                                                <div class="date">2</div>
                                            </li>
                                            <li class="day other-month">
                                                <div class="date">3</div>
                                            </li>
                                            <li class="day other-month">
                                                <div class="date">4</div>
                                            </li>
                                            <li class="day other-month">
                                                <div class="date">5</div>
                                            </li>
                                            <li class="day other-month">
                                                <div class="date">6</div>
                                            </li>
                                        </ul>
                    -->

                </div><!-- /. calendar -->
            </div><!-- /. wrap -->
        </div>
    </div>
</div>
<th:block th:replace="fragments/common/footer"></th:block>
</body>
</html>