<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/common/header"></th:block>
    <link th:href="@{/css/diary.css}" rel="stylesheet">
</head>
<body>
<!-- Page Wrapper -->
<div id="wrapper">

    <th:block th:replace="fragments/common/sidebar"></th:block>

    <div id="content">
        <th:block th:replace="fragments/common/topbar"></th:block>

        <div class="container">
            <div id="sidebar"></div>
            <div id="calendar-wrap">
                <header>
                    <!-- 전년으로-->
                    <a class="cal-btn" th:href="@{|/layout/diary/diary/${year-1}/${month}|}" >
                        <i class="fas fa-caret-left double-arrow"></i>
                        <i class="fas fa-caret-left double-arrow"></i>
                    </a>
                    <!-- 전달로 -->
                    <a class="cal-btn" th:href="@{|/layout/diary/diary/${year}/${month-1}|}" >
                        <i class="fas fa-caret-left arrow"></i>
                    </a>
                    <span class="month" th:text="|${year}년|"></span>
                    <span class="month" th:text="|${month}월|"></span>
                    <!-- 다음달로 -->
                    <a class="cal-btn" th:href="@{|/layout/diary/diary/${year}/${month+1}|}" >
                        <i class="fas fa-caret-right arrow"></i>
                    </a>
                    <!-- 다음년으로 -->
                    <a class="cal-btn" th:href="@{|/layout/diary/diary/${year+1}/${month}|}" >
                        <i class="fas fa-caret-right double-arrow"></i>
                        <i class="fas fa-caret-right double-arrow"></i>
                    </a>
                </header>
                <div id="calendar" th:with="today=${#calendars.create(year ,month ,1)}">
                    <ul class="weekdays">
                        <li>Sunday</li>
                        <li>Monday</li>
                        <li>Tuesday</li>
                        <li>Wednesday</li>
                        <li>Thursday</li>
                        <li>Friday</li>
                        <li>Saturday</li>
                    </ul>

                    <!-- 첫주 -->
                    <ul class="days" th:each="week: ${#numbers.sequence(0,0)}">
                        <!-- 날짜반복  -->
                        <li th:each="date: ${#numbers.sequence(1,7)} " th:with="day=${week*7+date - #calendars.dayOfWeek(today) + 1}">
                            <!-- 이전달  -->
                            <a th:if="${#calendars.dayOfWeek(today) > date}" th:href="@{|/layout/diary/diaryWrite/${year}/${month-1}/${ex_last_day + day}|}">
                                <div class="date ex-date"
                                   th:text="${ex_last_day + day}"></div>
                                <div class="event" th:if="${calendar[week*7+date-1] != null}">
                                    <div class="event-desc" th:text="${calendar[week*7+date-1].title}"></div>
                                </div>
                            </a>
                            <!-- 현재달  -->
                            <a th:if="${#calendars.dayOfWeek(today) <= date}" th:href="@{|/layout/diary/diaryWrite/${year}/${month}/${day}|}">
                                <div class="date"  th:text="${day}"></div>
                                <div class="event" th:if="${calendar[week*7+date-1] != null}">
                                    <div class="event-desc" th:text="${calendar[week*7+date-1].title}"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- 2~6주 -->
                    <ul class="days" th:each="week: ${#numbers.sequence(1,5)}">
                        <li th:each="date: ${#numbers.sequence(1,7)}" th:with="day=${week*7+date - #calendars.dayOfWeek(today) + 1}">
                            <!-- 현재달  -->
                            <a th:if="${day <= last_day}" th:href="@{|/layout/diary/diaryWrite/${year}/${month}/${day}|}">
                                <div class="date"  th:text="${day}"></div>
                                <div class="event" th:if="${calendar[week*7+date-1] != null}">
                                    <div class="event-desc" th:text="${calendar[week*7+date-1].title}"></div>
                                </div>
                            </a>
                            <!-- 다음달  -->
                            <a th:if="${day > last_day}" th:href="@{|/layout/diary/diaryWrite/${year}/${month+1}/${day - last_day}|}">
                                <div class="date ex-date"
                                   th:text="${day - last_day}"></div>
                                <div class="event" th:if="${calendar[week*7+date-1] != null}">
                                    <div class="event-desc" th:text="${calendar[week*7+date-1].title}"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div><!-- /. calendar -->
            </div><!-- /. wrap -->
        </div>
    </div>
</div>
<th:block th:replace="fragments/common/footer"></th:block>
</body>
</html>