<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="login-page">
    <div class="form">
        <form id="frm" th:action="@{/create}" class="login-form" method="post">
            <input type="hidden" id="checkPw" value="unchecked" />
            <input type="hidden" id="checkId" value="unchecked" />
            <table>
                <tr>
                    <td class="label">아이디</td>
                    <td class="content"><input type="text" id="id" name="id" placeholder="ID"/></td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td class="content">
                        <button type="button" class="btn" name="check_id" id="check_id" onclick="idCheck()">
                            아이디 중복 확인
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="label">이메일</td>
                    <td class="content"><input type="text" id="email" name="email" placeholder="email" onchange="isSame()"/></td>
                </tr>
                <tr>
                    <td class="label">비밀번호</td>
                    <td class="content"><input type="password" id="password" name="password" placeholder="Password" onchange="isSame()"/></td>
                </tr>
                <tr>
                    <td class="label">비밀번호 확인</td>
                    <td class="content"><input type="password" id="password2" name="password2" placeholder="PW-Confirm" onchange="isSame()"/></td>
                </tr>
                <tr>
                    <td style="width: 15%;"></td>
                    <td><span id="same"></span></td>
                </tr>
            </table>
            <button type="button" id="signUp" class="submit" onclick="admit()" >회원가입</button>
        </form>
    </div>
</div>
<script type="text/javascript">
    function isSame() {
        var pw = $('#password').val();
        var confirmPw = $('#password2').val();
        if(pw !='' && confirmPw !=''){
            if(pw == confirmPw){
                document.getElementById('same').innerHTML = '비밀번호가 일치합니다';
                document.getElementById('same').style.color = 'blue';
                $('#checkPw').val("checked");
            }
            else{
                document.getElementById('same').innerHTML = '비밀번호가 일치하지 않습니다';
                document.getElementById('same').style.color = 'red';
                $('#checkPw').val("unchecked");
            }
        }
    }
    function idCheck(){
        var input_id = $('#id').val();

        if(input_id == "")
            alert("아이디를 입력해주세요");
        else{
            $.ajax({
                data : {
                    id : input_id
                },
                url : "/checkId",
                success : function(data) {
                    if(data == true){
                        alert("사용가능한 아이디 입니다.");
                        $('#checkId').val("checked");
                    }
                    else{
                        alert("이미 사용하고 있는 아이디입니다.");
                        $('#checkId').val("unchecked");
                    }
                }
            });
        }
    }
    function admit(){
        if( $('#checkId').val() != "checked" ){
            alert("아이디 중복확인을 해주세요");
        }
        else if( $('#checkPw').val() != "checked"){
            alert("비밀번호가 일치하지 않습니다");
        }
        else{
            $('#frm').submit();
        }
    }
</script>
</body>
</html>

