<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<script type="text/javascript">
    function isSame() {
        var pw = $('#password').val();
        var confirmPw = $('#password2').val();
        if(pw !='' && confirmPw !=''){
            if(pw == confirmPw){
                document.getElementById('same').innerHTML = '비밀번호가 일치합니다';
                document.getElementById('same').style.color = 'blue';
            }
            else{
                document.getElementById('same').innerHTML = '비밀번호가 일치하지 않습니다';
                document.getElementById('same').style.color = 'red';
            }
        }
    }
</script>
<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" th:action="@{/create}" method="post">
            <table>
                <tr>
                    <td class="label">아이디</td>
                    <td class="content"><input type="text" id="id" name="id" placeholder="ID"/></td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td class="content">
                        <button class="btn" name="check_id" id="check_id">
                            아이디 중복확인
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="label">이메일</td>
                    <td class="content"><input type="text" id="email" name="email" placeholder="Password" onchange="isSame()"/></td>
                </tr>
                <tr>
                    <td class="label">비밀번호</td>
                    <td class="content"><input type="password" id="password" name="password" placeholder="Password" onchange="isSame()"/></td>
                </tr>
                <tr>
                    <td class="label">비밀번호 확인</td>
                    <td class="content"><input type="password" id="password2" name="password2" placeholder="PW-Confirm" onchange="isSame()"/></td>
                </tr>
                <tr>
                    <td style="width: 15%;"></td>
                    <td><span id="same"></span></td>
                </tr>
            </table>
            <input type="submit" class="submit" value="회원가입">
        </form>
    </div>
</div>
</body>
</html>
