<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/common/header"></th:block>
</head>
<body>
<div id="wrapper">

	<th:block th:replace="fragments/common/sidebar"></th:block>

	<div id="content">
		<th:block th:replace="fragments/common/topbar"></th:block>
		<div class="container">
			<h2>공지사항</h2>
			<form id="frm" th:method="post" th:action="@{/layout/board/}">
				<table class="board_detail">
					<colgroup>
						<col width="15%"/>
						<col width="35%"/>
						<col width="15%"/>
						<col width="35%"/>
					</colgroup>
					<caption>상세내용</caption>
					<tbody>
						<tr>
							<th scope="row">글 번호</th>
							<td th:text="${board.boardIdx}"></td>
							<th scope="row">조회수</th>
							<td th:text="${board.hitCnt }"></td>
						</tr>
						<tr>
							<th scope="row">작성자</th>
							<td th:text="${board.creatorId }"></td>
							<th scope="row">작성일</th>
							<td th:text="${board.createdDatetime }"></td>
						</tr>
						<tr>
							<th scope="row">제목</th>
							<td colspan="3"><input class="readonly" type="text" id="title" name="title" th:value="${board.title }" readonly/></td>
						</tr>
						<tr>
							<td colspan="4" class="view_text">
								<textarea class="readonly" title="내용" id="contents" name="contents" th:text="${board.contents }" readonly></textarea>
							</td>
						</tr>
					</tbody>
				</table>

				<input type="hidden" id="boardIdx" name="boardIdx" th:value="${board.boardIdx}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                <div class="file_list">
                    <a th:each="list : ${board.fileList}" th:href="@{/layout/board/file(idx=${list.idx}, boardIdx=${board.boardIdx})}" th:text="|${list.originalFileName} ($(#numbers.formatInteger(list.fileSize/1000,1,'DEFAULT')} kb)|"></a>
                </div>

                <a href="#this" id="list" class="btn">목록으로</a>
                <a href="#this" id="edit" class="btn">수정하기</a>
                <input class="btn" id="del" type="submit" value="삭제하기"/>
			</form>
			<div class="replyWrite">
				<form id="reply">
					<textarea type="text" class="replyTextarea" id="replyContents" name="replyContents" placeholder="댓글쓰기"></textarea>
					<button id="replyBtn" class="btn" type="button">댓글쓰기</button>
				</form>
			</div>
			<div id="listReply">
				<table class="replyTable">
					<colgroup>
						<col width="10%"/>
						<col width="60%"/>
						<col width="15%"/>
						<col width="7.5%"/>
						<col width="7.5%"/>
					</colgroup>
					<tbody>
						<tr th:each="list: ${list}">
							<form action="#">
								<input type="hidden" value="${list.creatorId}">
								<input type="hidden" value="${list.contents}">
								<input type="hidden" value="${list.createdDatetime}">
								<th th:text="${list.creatorId}"></th>
								<td th:text="${list.contents}"></td>
								<td th:text="${list.createdDatetime}"></td>
								<td><button type="submit" class="btn">수정하기</button></td>
								<td><button type="button" class="btn">삭제하기</button></td>
								<td><button type="button" class="btn">댓글달기</button></td>
							</form>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<th:block th:replace="fragments/common/footer"></th:block>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:inline="javascript">
    var del = /*[[ @{/layout/board/delete} ]]*/ ;

    $("#del").on("click", function () {
        $("#frm").attr("method", "get");
        $("#frm").attr("action", del);
    });
</script>
<script type="text/javascript">
	$(document).ready(function(){
		var boardIdx = $("#boardIdx").val();
		$("#list").on("click", function(){
			location.href = "/layout/board/list";
		});
		$("#edit").on("click", function(){
			location.href = "/layout/board/modify/" + boardIdx;
		});
	});

	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");

	$("#replyBtn").on("click", function(){
		var boardIdx = $("#boardIdx").val();

		var param = "contents=" + $("#replyContents").val() +"&board_idx=" + boardIdx;

		$.ajax({
			data : param
			,type : "POST"
			,url :  "/layout/board/insertComment"
			,beforeSend : function(xhr){
				xhr.setRequestHeader(header, token);
			}
			,success : function(data){
				if(data == "true")
					alert("댓글 등록 완료!");
			}
			,error:function(request,status,error) {
				alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
			}
		})
	});
</script>
</body>
</html>
