<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <th:block th:replace="fragments/common/header"></th:block>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <th:block th:replace="fragments/common/sidebar"></th:block>
    <div id="content">
        <th:block th:replace="fragments/common/topbar"></th:block>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:replace="fragments/common/footer"></th:block>
</body>

</html>
